@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

@font-face {
  font-family: estedad;
  src: url(./assets/fonts/Estedad-Medium.ttf);
}

* {
  font-family: estedad;
}
